langchain>=0.1.17
langchain-openai>=0.1.17
langchain-community>=0.1.17
openai>=1.23.0
llama-index[core,openai]>=0.10.33
llama-index-embeddings-azure-openai
python-dotenv
beautifulsoup4
requests
tqdm
langgraph
fastapi
uvicorn[standard]
llama-index-llms-langchain
llama-index-embeddings-langchain
prometheus-fastapi-instrumentator